/*Styling affects all pages in conjunction with water.css*/
/*Sets size, positioning, and styling of container class for each page*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 700px;
}

/*Sets positioning of timer in quiz*/ 
.time {
    width: 100%;
    display: block;
}
/*Sets styling of quiz choices in quiz*/
.choiceText {
    background-color: aqua;
    text-align: center;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
/*Sets styling of clickable <a> tags in home page, score page, and high score page*/ 
.button{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    background-color: aqua;
    text-align: center;
    border-radius: 5px;
}
/*Sets styling of clickable <a> tags once curser hovers over area in home page, score page, and high score page*/
.button:hover {
    box-shadow: 2px 2px 0px 0px black;
}
/*Sets text styling and color of <a> tags within home page, score page, and high score page*/ 
.container a {
    text-decoration: none;
    color: black;
}
/*Sets positioning of elements within this container on score, and high score pages */
.options {
    height: 100%;
    text-align: center;
}
/*Sets positioning and styling of user input form, and save button section of score page*/
.userInput {
    justify-content: center;
    margin: 20%;
}
/*Sets positioning and styling of user input form of score page*/
.userInput #username {
    display: inline-block;
    text-align: center;
}
/*Sets postioning and styling of high scores on score and high score page*/
.displayScores {
    margin-top: 20%;
    margin-bottom: 20%;
    line-height: 2rem;
}
/*Sets styling and positioning of each score within high scores on score page and high score page*/
.text {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}